---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import profileImage from "../assets/profile.png";
import Layout from "../layouts/Layout.astro";

const snsLinks = [
  {
    name: "GitHub",
    icon: "simple-icons:github",
    href: "https://github.com/jnicrimi",
  },
  {
    name: "Facebook",
    icon: "simple-icons:facebook",
    href: "https://www.facebook.com/jnicrimi",
  },
  { name: "X", icon: "simple-icons:x", href: "https://x.com/imai" },
  {
    name: "Instagram",
    icon: "simple-icons:instagram",
    href: "https://www.instagram.com/jnicrimi",
  },
];

const description = "About me";
const ogImageURL = new URL(profileImage.src, Astro.site);
---

<Layout title="jnicrimi.com" description={description}>
  <Fragment slot="head">
    <meta property="og:title" content="jnicrimi.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
  </Fragment>
  <Image
    src={profileImage}
    alt="jnicrimi"
    width={160}
    densities={[1, 2]}
    class="rounded-full"
  />
  <h1 class="text-2xl font-bold">jnicrimi.com</h1>
  <nav aria-label="SNS">
    <ul class="flex gap-5">
      {
        snsLinks.map((sns) => (
          <li>
            <a
              href={sns.href}
              aria-label={sns.name}
              target="_blank"
              rel="noopener noreferrer"
              class="text-neutral-500 transition-colors hover:text-neutral-900"
            >
              <Icon name={sns.icon} class="size-6" />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</Layout>
